docker {
    enabled = true
    temp = "auto"
    sudo = true
}

process {
    withLabel: genometools {
        container = "darcyabjones/genometools:pante-${manifest.version}"
    }
    withLabel: hmmer3 {
        container = "darcyabjones/hmmer3:pante-${manifest.version}"
    }
    withLabel: python3 {
        container = "darcyabjones/python3:pante-${manifest.version}"
    }
    withLabel: posix {
        container = "darcyabjones/base:pante-${manifest.version}"
    }
    withLabel: download {
        container = "darcyabjones/base:pante-${manifest.version}"
    }
    withLabel: repeatmasker {
        container = "darcyabjones/repeatmasker:pante-${manifest.version}"
    }
    withLabel: trnascan {
        container = "darcyabjones/trnascan:pante-${manifest.version}"
    }
    withLabel: infernal {
        container = "darcyabjones/infernal:pante-${manifest.version}"
    }
    withLabel: rnammer {
        container = "darcyabjones/rnammer:pante-${manifest.version}"
    }
    withLabel: gffpal {
        container = "darcyabjones/gffpal:pante-${manifest.version}"
    }
    withLabel: mitefinder {
        container = "darcyabjones/mitefinder:pante-${manifest.version}"
    }
    withLabel: eahelitron {
        container = "darcyabjones/eahelitron:pante-${manifest.version}"
    }
    withLabel: vsearch {
        container = "darcyabjones/vsearch:pante-${manifest.version}"
    }
    withLabel: decipher {
        container = "darcyabjones/decipher:pante-${manifest.version}"
    }
    withLabel: mmseqs {
        container = "darcyabjones/mmseqs:pante-${manifest.version}"
    }
    withLabel: bedtools {
        container = "darcyabjones/bedtools:pante-${manifest.version}"
    }
}
