docker {
    enabled = true
    temp = "auto"
    sudo = true
}

process {
    withLabel: genometools {
        container = "darcyabjones/genometools:panann-${manifest.version}"
    }
    withLabel: python3 {
        container = "darcyabjones/python3:pante-${manifest.version}"
    }
    withLabel: posix {
        container = "darcyabjones/posix:pante-${manifest.version}"
    }
    withLabel: download {
        container = "darcyabjones/posix:pante-${manifest.version}"
    }
    withLabel: repeatmasker {
        container = "darcyabjones/repeatmasker:pante-${manifest.version}"
    }
    withLabel: aragorn {
        container = "darcyabjones/aragorn:panann-${manifest.version}"
    }
    withLabel: trnascan {
        container = "darcyabjones/trnascan:panann-${manifest.version}"
    }
    withLabel: infernal {
        container = "darcyabjones/infernal:panann-${manifest.version}"
    }
    withLabel: structrnafinder {
        container = "darcyabjones/structrnafinder:panann-${manifest.version}"
    }
    withLabel: rnammer {
        container = "darcyabjones/rnammer:panann-${manifest.version}"
    }
}
