docker {
    enabled = true
    temp = "auto"
    sudo = true
}

process {
    withLabel: python3 {
        container = "darcyabjones/python3:pante-${manifest.version}"
    }
    withLabel: posix {
        container = "darcyabjones/posix:pante-${manifest.version}"
    }
    withLabel: download {
        container = "darcyabjones/posix:pante-${manifest.version}"
    }
    withLabel: repeatmasker {
        container = "darcyabjones/repeatmasker:pante-${manifest.version}"
    }
}
