singularity {
    enabled = true
}

process {
    withLabel: genometools {
        container = "containers/singularity/genometools.sif"
    }
    withLabel: hmmer3 {
        container = "containers/singularity/genometools.sif"
    }
    withLabel: python3 {
        container = "containers/singularity/python3.sif"
    }
    withLabel: posix {
        container = "containers/singularity/base.sif"
    }
    withLabel: download {
        container = "containers/singularity/base.sif"
    }
    withLabel: repeatmasker {
        container = "containers/singularity/repeatmasker.sif"
    }
    withLabel: trnascan {
        container = "containers/singularity/trnascan.sif"
    }
    withLabel: infernal {
        container = "containers/singularity/infernal.sif"
    }
    withLabel: rnammer {
        container = "containers/singularity/rnammer.sif"
    }
    withLabel: gffpal {
        container = "containers/singularity/gffpal.sif"
    }
    withLabel: mitefinder {
        container = "containers/singularity/mitefinder.sif"
    }
    withLabel: eahelitron {
        container = "containers/singularity/eahelitron.sif"
    }
    withLabel: vsearch {
        container = "containers/singularity/vsearch.sif"
    }
    withLabel: seqrenamer {
        container = "containers/singularity/seqrenamer.sif"
    }
    withLabel: decipher {
        container = "containers/singularity/decipher.sif"
    }
    withLabel: mmseqs {
        container = "containers/singularity/mmseqs.sif"
    }
}

