singularity {
    enabled = true
}

process {
    withLabel: python3 {
        container = "containers/singularity/python3.sif"
    }
    withLabel: posix {
        container = "containers/singularity/posix.sif"
    }
    withLabel: download {
        container = "containers/singularity/posix.sif"
    }
    withLabel: repeatmasker {
        container = "containers/singularity/repeatmasker.sif"
    }
}

